@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Mantendo as mesmas cores no modo escuro para consistência */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --zinc-50: #f9fafb;
    --zinc-100: #f3f4f6;
    --zinc-200: #e5e7eb;
    --zinc-300: #d1d5db;
    --zinc-400: #9ca3af;
    --zinc-500: #6b7280;
    --zinc-600: #4b5563;
    --zinc-700: #374151;
    --zinc-800: #1f2937;
    --zinc-900: #111827;
    --green-500: #4ade80;
    --border-color: #e5e7eb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
